
body {
	font-size: 16px;
	color: white;
	background-color: #b4918f;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
}

/** HEADER **/

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
  padding-top: 10px;
  height: 100px;
}


.navbar-brand h1 { /*restaurant name*/
	font-family: 'Lora',serif;
	color: white;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 40px;
	margin-bottom: 0px;
	line-height: .75;
	
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #EFD7E5;
	text-align: center;
}
#nav-list a:hover {
	background: #808080;
}
#nav-list a span {
	font-size: 1.8em;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid pink;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -60px;
}

/*END HEADER */

/* HOME PAGE*/

p {
	font-size: 1.7em;
	color: black;
}
#main-content h1 {
	text-align: center;
	color: black;
	font-size: 1.3em;
}

#main-content span p {
	text-align: justify;
	color: black;
	font-size: 1em;
}

#main-content {
	box-shadow: 0 0 10px #3F0C1F;
	border: 2px solid #3F0C1F;
	width: auto;
	height: auto;
	margin-right: 40px;
	margin-left: 40px;
}
#main-content a:hover, #main-content a:focus {
	text-decoration: none;

/* END HOME PAGE */